<h1>Manage Employees</h1>

<!--Formulario de alumno-->
<div style="width: 185px">
    <fieldset>
        <legend>{{actionform}} Employees</legend>
        <form #employeeForm="ngForm">
            <input type="text" [(ngModel)]="employee.Name" ngControl="Name" placeholder="name" required />
            <br /><br />
            <input type="text" [(ngModel)]="employee.Surname" ngControl="Surname" placeholder="surname" required />
            <br /><br />
            <input type="text" [(ngModel)]="employee.Age" ngControl="Age" placeholder="age" required />
            <br /><br />
            <input type="button" value="New" (click)="AddEmployees()" [disabled]="!employeeForm.form.valid" />
        </form>
    </fieldset>
</div>

<!--Listado de alumnos-->

<div *ngIf="listEmployee.length > 0">
    <br /><br /><h2>List of Employees </h2>
    <table>
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Surname
                </td>
                <td>
                    Age
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#employee of listEmployee">
                <td>{{employee.Name}}</td>
                <td>{{employee.Surname}}</td>
                <td>{{employee.Age}}</td>
                <td>
                    <input type="button" value="edit" (click)="EditEmployees(employee)" />
                    <input type="button" value="delete" (click)="DeleteEmployees(employee)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>